.img {
    width: 300px;
    border-radius: 30px;
}

.A {
    width: 300px;
    position:absolute;
    left: 0;
    right:0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    border: solid;
    text-align: center;
}