.img {
    width: 300px;
    border-radius: 30px;
}

.body{
    width: 750px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    border: 2px solid;

}